/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
table, th, td {
  border:3px solid green;
}
td{
  width: 90px;
  height: 85px;
  text-align: center;
}
thead{
  font-weight: bold;
}
.question{
  background-color: rgb(20, 36, 36);
}
.answer{
  background-color: rgb(83, 78, 16);
}
table{
  width: 100%;
}
h1, button {
  display: inline;
}

.fa{
  font-size: 3rem;
  opacity: 0.2;
  animation: 10.1s;
}
h2{
  opacity: 0.2;
}
h2, a {
  display: inline;
}
